<!DOCTYPE html>
<html>
    <head>
        <title>Bed in Estonia</title>
        <script type='text/javascript' src='../scripts/script.js'></script>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../styles/style.css'/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header> 
            <div class='container'>
                <div class='navbar'>
                    <div class="nav-section">
                        <div class="nav">
                            <a class="nav-link" href="index.html">AVALEHT</a>
                            <div class="sel-bar" style="visibility: hidden;"></div>
                        </div>
                        <div class="nav">
                            <a class="nav-link" href="meist.html">MEIST</a>
                            <div class="sel-bar"></div>
                        </div>
                    </div>
                    <div class='logo'>
                        <img class='logo-image' src='../images/bed.jpg'>
                        <h1 class='logo-text'>IN ESTONIA</h1>
                    </div>
                    <div class="nav-section">
                        <div class="nav">
                            <a class="nav-link" href="broneeri.html">BRONEERI</a>
                            <div class="sel-bar" style="visibility: hidden;"></div>
                        </div>
                        <div class="nav">
                            <a class="nav-link" href="index.html">HOTELLILE</a>
                            <div class="sel-bar" style="visibility: hidden;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content-wrap">


            <!-- TODO -->
            
    
        </div>
        <footer>
            <div class="container">
                <div class='footer-sections'>
                    <div class="footer-section">
                        <h4>Meist</h4>
                        <p>Meist</p>
                        <p>Karjäär</p>
                    </div>
                    <div class="footer-section">
                        <h4>Hotellile</h4>
                        <p>Hakka partneriks</p>
                        <p>Korralda pakkumine</p>
                    </div>
                    <div class="footer-section">
                        <h4>Tugi</h4>
                        <p>Abikeskus</p>
                        <p>COVID-19 uudised</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="contact">
                    <div class="contact-section">
                        <img class='logo-image' src='../images/cell-phone.png'>
                        <p>+372 5050 5050</p>
                    </div>
                    <div class="contact-section">
                        <img class='logo-image' src='../images/email.png'>
                        <p>info@bedinestonia.ee<p>
                    </div>
                    <div class="contact-section">
                        <img class='logo-image' src='../images/facebook.png'>
                        <img class='logo-image' src='../images/instagram.png'>
                        <img class='logo-image' src='../images/twitter.png'>
                    </div>
                </div> 
            </div>
        </footer>
    </body>
</html>