/* The sidebar menu */
.phone {
  text-align: center;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    min-width: 180px;
    padding-top: 20px;
    font-weight: 1000;
    
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 6px 0px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    font-weight: 1000;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    background-color: rgb(201, 221, 250);
  }
  .sidenav :active{
    background-color: rgb(201, 221, 250);
  }
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  .phone .info,
  .phone .main {
    margin: 0 !important;
  }
  .meist-top{
    display: flex;
    margin-left: 10%;
  }
  .info{
    align-self: center;
    margin-left: 10%;
    width: 40%;
    min-width: 200px;
  }
  .info-text-long p,
  .info-text p,
  .info p {
    font-size: 1.4em;
  }
  .phone .info-text-long p,
  .phone .info-text p,
  .phone .info p {
    font-size: 1.24em;
  }
  .info p {
    margin-top: .25em;
  }
  .info h2{
    font-weight: 500;
    font-size: 2.5em;
    margin-bottom: 0;
  }
  .info-text-long,
  .info-text {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .phone .info-text {
    margin-left: 0;
  }
  .phone .info-bot {
    padding-top: 2em;
    padding-bottom: 2em;
    
  }
  
  .info-heading{
    width: 20%;
    margin-left: 10%;
    min-width: 180px;
  }
  .info-heading h1{
      font-weight: 500 !important;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
  }
  .info-text, .info-text-long{
    margin-left: 7%;
    min-width: 200px;
  }
  .gray{
    background-color: rgba(200,200,200,.35);
  }
  @media screen and (min-width: 511px){
    .info-bot{
      display: flex;
    }
    .info-bot div{
      height: 100px;
    }
    .long div{
      height: 150px;
    }
    .info-heading h1{
      text-align: left;
    }
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-width: 510px) {
    .sidenav {padding-top: 15px; margin-left: 5px;}
    .sidenav a {font-size: 18px;}
    .meist-top {
      margin-left: 0;
      flex-direction: column;
      align-items: center;
    }
    .info{
      width: 50%;
    }
    .info-bot div{
      height: 60px;
    }
    .long{
      height: 200px;
    }
    .sidenav a{
      font-size: 15px;
    }
    .info-heading {
      margin-left: 25%;
      width: 50%;
      text-align: center;
    }
    .info-heading h1 {
    }
    .info-text p{
      margin-left: 25%;
      width: 50%;
      text-align: center;
      font-weight: 500;
      font-size: 2em;
    }
    .info-text-long{
      width: 80%;
      margin-left: 10%;
      text-align: center;
    }
    
  }